@model IEnumerable<CURDOperationWithImageUploadCore5_Demo.Models.Inventories>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Uploads/@item.ProfilePicture" asp-append-version="true" alt="@item.ProductName" />
        <div class="card-body">
            <h5 class="card-title">@item.ProductName</h5>
            <a asp-controller="Inventory" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View Details</a>
        </div>
    </div>
}

